@media(max-width:915px) {
    .footer {

        &__box {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 740px) {
    .footer {

        &__card {
            flex-direction: column;
            align-items: center;

            &-two {
                align-items: flex-start;
            }
        }

        &__box {
            margin-bottom: 20px;

            &-two {
                justify-content: flex-start;
            }  
           
            &-input {
                align-self: flex-end;
            }

            &-first {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 514px) {
    
    .footer {

        &__box {

            &-input {
                width: 100%;
            }       
        }

        &__content {
            flex: 1 1 auto;
        }

        &__mail {
            width: 100%;
        }
    }
}

@media (max-width: 490px) {

    .footer {
        &__col {
            display: flex;
            position: relative;
    
            &:after {
                content: '';
                position: absolute;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='1168' height='2' viewBox='0 0 1168 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H1168V2H0V0Z' fill='white'/%3E%3C/svg%3E");
                left: 0;
                bottom: -18%;
                padding-top: 0.5%;
                width: 100%;
            }

            &:nth-child(2) {
                margin-bottom: 94px;
    
                &:after {
                    bottom: -51%;
                }
            }
        }
    }
}