input[type=number] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input, textarea, select {
    height: 52px;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 0 75px 0 12px;
    display: block;
    width: 100%;
    outline: none;
    transition: all .3s;
    font-family: 'Poppins', Arial, Helvetica, sans-serif ;
    font-size: 13px;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #18A0FB;
}

input::placeholder
textarea::placeholder {
    color: #000;
}